.Nav {
    width: 100%;
    height: 100%;
    background-color: rgb(6, 233, 25);
    display: table;
    margin: 0%;
    padding: 0%;border: none;
    text-align: right;
}

.Contenedor {
    width: 100%;
    height: 100%;
    background-color: aqua;
    overflow: auto;
}

.Pfizer {
    width: 50%;
    height: 80%;
    background-color: blue;
    display: inline-flex;
    float: left;

}

.Aztrazeneca {
    width: 50%;
    height: 80%;
    background-color: rgb(105, 105, 240);
    float: right;
}
